go 1.20

use (
	./client/orb
	./client/orb/transport/basehttp
	./client/orb/transport/h2c
	./client/orb/transport/http
	./client/orb/transport/http3
	./client/orb/transport/https
	./client/tests
	./codecs/form
	./codecs/jsonpb
	./codecs/proto
	./codecs/yaml
	./config/source/cli/urfave
	./config/source/file
	./config/source/http
	./config/tests
	./log/slog
	./registry/consul
	./registry/mdns
	./registry/nats
	./registry/regutil
	./registry/tests
	./server/grpc
	./server/http
	./server/tests
)
